*{
	margin: 0;
	box-sizing: border-box;
}
body{
background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
padding-bottom: 100px;
overflow-y: hidden;
overflow-x: hidden;
}
.columna {
  float: left;
  width: 50%;
  text-align: center;
}

.rompecabezas{
text-align: center;
margin-top: 20px;
}

.rompecabezas:after {
  content: "";
  display: table;
  clear: both;
}

.placeholder{
	height: 550px;
	width: 550px;
}

.puzzle {
   background-image:url(img/prueba.jpg);
   width:100px;
   height:100px;
   display: inline-block;
   z-index: 999;
   transition: all 0.5s ease-in-out;
}

.piece1 {
   background-position:0 0
}

.piece2 {
   background-position:0 -100px;
}

.piece3 {
   background-position:0 -200px;
}

.piece4 {
   background-position:0-300px;
}

.piece5 {
   background-position:0 -400px;
}

.piece6 {
   background-position:-100px 0;
}

.piece7 {
   background-position:-200px 0;
}

.piece8 {
   background-position:-300px 0;
}

.piece9 {
   background-position:-400px 0;
}

.piece10{
   background-position:-100px -100px;
}

.piece11{
   background-position:-200px -100px;
}

.piece12{
  background-position:-300px -100px;
}

.piece13{
   background-position:-400px -100px;
}

.piece14{
   background-position:-100px -200px;
}

.piece15{
   background-position:-200px -200px;
}

.piece16{
   background-position:-300px -200px;
}

.piece17{
 background-position:-400px -200px;
}

.piece18{
 background-position:-100px -300px;
}

.piece19{
 background-position:-200px -300px;
}

.piece20{
 background-position:-300px -300px;
}

.piece21{
 background-position:-400px -300px;
}

.piece22{
 background-position:-100px -400px;
}

.piece23{
 background-position:-200px -400px;
}

.piece24{
 background-position:-300px -400px;
}

.piece25{
 background-position:-400px -400px;
}

/*area de drop*/

.area{
	height:520px;
	width: 520px;
	display: inline-block;
	 font-size: 2px;
	 z-index: 1;
}

.cuadro{
	height:100px;
	width: 100px;
	border: 1px solid black;	
	display: inline-block;
	z-index: 1;
}

.audio{
   position: absolute;
   left: 30px;
   top: 580px;
}

.audio button{
   padding: 15px;
   border-radius: 50px;
}

#reproducir2{

}

@media (max-width: 600px) {
.columna{
   width: 100%;
  }

  body{
   overflow-y: visible;
  }
}
